Repository compio-rs/compio, pull requests merged in 2023-11, with the labels that each got.

#130 refactor: organize crates
  Cargo.toml
  azure-pipelines.yml
  compio-buf/Cargo.toml
  compio-dispatcher/Cargo.toml
  compio-dispatcher/tests/listener.rs
  compio-driver/Cargo.toml
  compio-driver/src/lib.rs
  compio-driver/tests/file.rs
  compio-fs/Cargo.toml
  compio-fs/src/open_options/mod.rs
  compio-fs/tests/file.rs
  compio-io/Cargo.toml
  compio-io/src/lib.rs
  compio-io/src/util/null.rs
  compio-io/src/util/repeat.rs
  compio-io/src/write/mod.rs
  compio-io/tests/io.rs
  compio-macros/Cargo.toml
  compio-macros/src/lib.rs
  compio-net/Cargo.toml
  compio-net/tests/tcp_accept.rs
  compio-net/tests/tcp_connect.rs
  compio-net/tests/udp.rs
  compio-net/tests/unix_stream.rs
  compio-runtime/Cargo.toml
  compio-runtime/tests/event.rs
  compio-signal/Cargo.toml
  compio-tls/Cargo.toml
  compio/Cargo.toml
  compio/examples/basic.rs
  compio/examples/dispatcher.rs
  compio/examples/named_pipe.rs
  compio/examples/net.rs
  compio/examples/resolve.rs
  compio/examples/tick.rs
  compio/examples/unix.rs
  compio/tests/driver.rs
  compio/tests/event.rs
  compio/tests/runtime.rs
Labels: refactor

#133 feat: async open named pipe client
  compio-fs/src/named_pipe.rs
  compio-fs/src/open_options/mod.rs
  compio-fs/src/open_options/unix.rs
  compio-fs/src/open_options/windows.rs
  compio/benches/named_pipe.rs
  compio/examples/named_pipe.rs
Labels: enhancement, package: fs

#135 docs: fix warnings
  compio-driver/src/fusion/mod.rs
  compio-fs/src/pipe.rs
Labels: documentation

#134 feat(tls): add rustls backend
  azure-pipelines.yml
  compio-tls/Cargo.toml
  compio-tls/src/adapter.rs
  compio-tls/src/adapter/mod.rs
  compio-tls/src/adapter/rtls.rs
  compio-tls/src/stream/mod.rs
  compio-tls/src/stream/rtls.rs
  compio-tls/src/wrapper.rs
  compio-tls/tests/connect.rs
Labels: enhancement, package: tls

#138 refactor(runtime): expose `async_task::Task`
  compio-runtime/src/lib.rs
Labels: enhancement, package: runtime

#140 refactor: ensure Event being oneshot
  compio-net/src/resolve/windows.rs
  compio-runtime/src/event/eventfd.rs
  compio-runtime/src/event/iocp.rs
  compio-runtime/src/event/pipe.rs
  compio-signal/src/unix.rs
  compio-signal/src/windows.rs
Labels: bug, package: runtime

#132 feat: Add logs
  Cargo.toml
  compio-driver/Cargo.toml
  compio-driver/src/iocp/mod.rs
  compio-driver/src/iour/mod.rs
  compio-driver/src/poll/mod.rs
  compio-log/Cargo.toml
  compio-log/src/dummy.rs
  compio-log/src/lib.rs
  compio-log/tests/test.rs
  compio-runtime/Cargo.toml
  compio-runtime/src/key.rs
  compio-runtime/src/runtime/mod.rs
  compio/Cargo.toml
Labels: enhancement, package: log

#127 feat: HTTP client
  Cargo.toml
  compio-buf/src/lib.rs
  compio-http-client/Cargo.toml
  compio-http-client/examples/client.rs
  compio-http-client/src/client.rs
  compio-http-client/src/into_url.rs
  compio-http-client/src/lib.rs
  compio-http-client/src/request.rs
  compio-http-client/src/response.rs
  compio-http-client/src/util.rs
  compio-http-client/tests/client.rs
  compio-http-client/tests/server/mod.rs
  compio-http/Cargo.toml
  compio-http/src/backend.rs
  compio-http/src/lib.rs
  compio-http/src/server.rs
  compio-http/src/service.rs
  compio-http/src/stream.rs
  compio-io/Cargo.toml
  compio-io/src/compat.rs
  compio-io/src/lib.rs
  compio-net/Cargo.toml
  compio-runtime/Cargo.toml
  compio-runtime/src/lib.rs
  compio-runtime/src/runtime/mod.rs
  compio-tls/Cargo.toml
  compio-tls/src/adapter/mod.rs
  compio-tls/src/adapter/rtls.rs
  compio-tls/src/lib.rs
  compio-tls/src/stream/mod.rs
  compio-tls/src/stream/rtls.rs
  compio/Cargo.toml
Labels: enhancement, package: http

#145 feat: update rustls to 0.22.0-alpha.4
  Cargo.toml
  compio-http/src/backend.rs
  compio-tls/Cargo.toml
  compio-tls/tests/connect.rs
Labels: package: tls

#142 fix: compile error without runtime feature
  compio-fs/src/named_pipe.rs
Labels: bug, driver: IOCP, package: fs

#141 feat: make `Runtime` public
  Cargo.toml
  compio-dispatcher/src/lib.rs
  compio-fs/src/file.rs
  compio-fs/src/named_pipe.rs
  compio-fs/src/open_options/mod.rs
  compio-fs/src/open_options/unix.rs
  compio-fs/src/open_options/windows.rs
  compio-fs/src/pipe.rs
  compio-io/src/lib.rs
  compio-io/src/util/null.rs
  compio-io/src/util/repeat.rs
  compio-macros/src/main_fn.rs
  compio-macros/src/test_fn.rs
  compio-net/src/socket.rs
  compio-net/src/tcp.rs
  compio-net/src/udp.rs
  compio-net/src/unix.rs
  compio-runtime/Cargo.toml
  compio-runtime/src/attacher.rs
  compio-runtime/src/event/eventfd.rs
  compio-runtime/src/event/iocp.rs
  compio-runtime/src/event/pipe.rs
  compio-runtime/src/lib.rs
  compio-runtime/src/runtime/mod.rs
  compio-runtime/src/runtime/op.rs
  compio-runtime/src/runtime/time.rs
  compio-runtime/src/time.rs
  compio-runtime/tests/event.rs
  compio-signal/src/lib.rs
  compio-signal/src/unix.rs
  compio/Cargo.toml
  compio/benches/fs.rs
  compio/benches/named_pipe.rs
  compio/benches/net.rs
  compio/src/lib.rs
  compio/tests/runtime.rs
Labels: enhancement, package: runtime

#147 fix: update version and prepare for beta release
  Cargo.toml
  compio-buf/Cargo.toml
  compio-dispatcher/Cargo.toml
  compio-driver/Cargo.toml
  compio-fs/Cargo.toml
  compio-io/Cargo.toml
  compio-log/Cargo.toml
  compio-macros/Cargo.toml
  compio-net/Cargo.toml
  compio-runtime/Cargo.toml
  compio-signal/Cargo.toml
  compio/Cargo.toml
Labels: enhancement

#148 docs: fix rustdoc args
  compio-buf/Cargo.toml
  compio-driver/Cargo.toml
  compio-fs/Cargo.toml
  compio-http-client/Cargo.toml
  compio-http/Cargo.toml
  compio-net/Cargo.toml
  compio-runtime/Cargo.toml
  compio-signal/Cargo.toml
  compio-tls/Cargo.toml
  compio/Cargo.toml
Labels: bug, documentation

#149 feat(driver,runtime): wake up proactor from other threads
  compio-driver/Cargo.toml
  compio-driver/src/fusion/mod.rs
  compio-driver/src/iocp/mod.rs
  compio-driver/src/iour/mod.rs
  compio-driver/src/lib.rs
  compio-driver/src/poll/mod.rs
  compio-driver/tests/file.rs
  compio-runtime/Cargo.toml
  compio-runtime/src/event/iocp.rs
  compio-runtime/src/runtime/mod.rs
  compio/Cargo.toml
  compio/tests/runtime.rs
Labels: bug, driver: IOCP, driver: io-uring, driver: polling, package: driver, package: runtime

#150 fix: badges on README and versions
  README.md
Labels: documentation

#152 feat(tls,http): remove http and include tls
  Cargo.toml
  compio-driver/Cargo.toml
  compio-http-client/Cargo.toml
  compio-http-client/examples/client.rs
  compio-http-client/src/client.rs
  compio-http-client/src/into_url.rs
  compio-http-client/src/lib.rs
  compio-http-client/src/request.rs
  compio-http-client/src/response.rs
  compio-http-client/src/util.rs
  compio-http-client/tests/client.rs
  compio-http-client/tests/server/mod.rs
  compio-http/Cargo.toml
  compio-http/src/backend.rs
  compio-http/src/lib.rs
  compio-http/src/server.rs
  compio-http/src/service.rs
  compio-http/src/stream.rs
  compio-runtime/Cargo.toml
  compio-tls/Cargo.toml
  compio/Cargo.toml
  compio/src/lib.rs
Labels: enhancement

#153 feat: add some features for monocrate
  Cargo.toml
  compio-tls/Cargo.toml
  compio-tls/src/lib.rs
  compio/Cargo.toml
  compio/src/lib.rs
Labels: enhancement

#156 doc: add telegram badge to README.md
  README.md
Labels: documentation

#157 fix(tls): fix rustls version
  compio-tls/Cargo.toml
Labels: bug, package: tls

#154 refactor(runtime): make Attacher a container
  compio-driver/src/fusion/mod.rs
  compio-fs/Cargo.toml
  compio-fs/src/file.rs
  compio-fs/src/lib.rs
  compio-fs/src/named_pipe.rs
  compio-fs/src/pipe.rs
  compio-io/src/lib.rs
  compio-net/Cargo.toml
  compio-net/src/lib.rs
  compio-net/src/socket.rs
  compio-net/src/tcp.rs
  compio-net/src/udp.rs
  compio-net/src/unix.rs
  compio-runtime/Cargo.toml
  compio-runtime/src/attacher.rs
  compio-runtime/src/event/eventfd.rs
  compio-runtime/src/event/pipe.rs
  compio-signal/src/unix.rs
  compio/Cargo.toml
  compio/examples/driver.rs
  compio/src/lib.rs
Labels: enhancement, package: net, package: fs, package: runtime, refactor

#159 fix(tls): update rustls to 0.22.0-alpha.5
  compio-tls/Cargo.toml
  compio-tls/src/adapter/rtls.rs
Labels: package: tls

#160 fix(tls): pin version of rustls-pki-types
  compio-tls/Cargo.toml
Labels: bug, package: tls

#162 fix(net): cancel async resolver on drop
  compio-net/src/resolve/glibc.rs
  compio-net/src/resolve/mod.rs
  compio-net/src/resolve/windows.rs
Labels: bug, package: net
