Repository compio-rs/compio, pull requests merged in 2024-03, with the labels that each got.

#217 feat(dep): upgrade rustls to 0.23
  compio-tls/Cargo.toml
Labels: enhancement, package: tls

#218 refactor: impls of buf and io traits
  compio-buf/src/io_buf.rs
  compio-buf/src/slice.rs
  compio-io/src/read/mod.rs
  compio-io/src/write/mod.rs
Labels: package: buf, package: io, refactor

#212 feat(net): async connect unix stream
  compio-net/src/unix.rs
  compio-net/tests/split.rs
  compio-net/tests/unix_stream.rs
  compio/examples/unix.rs
Labels: enhancement, package: net

#208 feat: add stdio
  compio-driver/src/iocp/mod.rs
  compio-fs/Cargo.toml
  compio-fs/src/lib.rs
  compio-fs/src/stdio/mod.rs
  compio-fs/src/stdio/unix.rs
  compio-fs/src/stdio/windows.rs
  compio/Cargo.toml
Labels: enhancement, package: fs, package: io

#215 feat(runtime): a runtime hook API design
  compio-driver/Cargo.toml
  compio-driver/src/iour/mod.rs
  compio-driver/src/poll/mod.rs
  compio-runtime/Cargo.toml
  compio-runtime/src/runtime/mod.rs
  compio-runtime/tests/custom_loop.rs
Labels: enhancement, package: runtime

#200 refactor: simplify attach logic
  .github/workflows/ci_test.yml
  compio-dispatcher/tests/listener.rs
  compio-driver/Cargo.toml
  compio-driver/src/fusion/mod.rs
  compio-driver/src/iocp/cp/global.rs
  compio-driver/src/iocp/cp/mod.rs
  compio-driver/src/iocp/cp/multi.rs
  compio-driver/src/iocp/mod.rs
  compio-driver/src/iour/mod.rs
  compio-driver/src/lib.rs
  compio-driver/src/poll/mod.rs
  compio-fs/src/file.rs
  compio-fs/src/named_pipe.rs
  compio-fs/src/open_options/unix.rs
  compio-fs/src/open_options/windows.rs
  compio-fs/src/pipe.rs
  compio-fs/src/stdio/unix.rs
  compio-net/Cargo.toml
  compio-net/src/socket.rs
  compio-net/src/tcp.rs
  compio-net/src/udp.rs
  compio-net/src/unix.rs
  compio-net/tests/tcp_accept.rs
  compio-net/tests/tcp_connect.rs
  compio-runtime/src/attacher.rs
  compio-runtime/src/runtime/mod.rs
  compio/examples/dispatcher.rs
  compio/tests/runtime.rs
Labels: bug, driver: IOCP, package: driver

#221 refactor(runtime): return Task in spawn_blocking
  compio-runtime/src/runtime/mod.rs
Labels: enhancement, package: runtime, refactor

#222 fix(buf): make IoBuf(Mut) unsafe
  compio-buf/src/io_buf.rs
  compio-buf/src/iter.rs
  compio-buf/src/slice.rs
  compio-io/src/buffer.rs
  compio/tests/runtime.rs
Labels: bug, package: buf

#223 feat(driver,windows): add win32 event support
  compio-driver/src/iocp/mod.rs
  compio-driver/src/iocp/op.rs
  compio-fs/src/stdio/windows.rs
  compio-runtime/tests/event.rs
Labels: enhancement, driver: IOCP, package: driver

#226 build: add flake.nix
  flake.lock
  flake.nix
Labels: enhancement

#227 fix(driver,iour): remove outer squeue
  compio-driver/src/iour/mod.rs
Labels: driver: io-uring, package: driver

#228 refactor(driver): remove OpenFile & stat ops for Windows
  compio-driver/Cargo.toml
  compio-driver/src/iocp/op.rs
  compio-driver/src/op.rs
  compio-driver/tests/file.rs
  compio-fs/Cargo.toml
  compio-fs/src/file.rs
  compio-fs/src/lib.rs
  compio-fs/src/metadata/mod.rs
  compio-fs/src/metadata/unix.rs
  compio-fs/src/metadata/windows.rs
  compio-fs/src/named_pipe.rs
  compio-fs/src/open_options/mod.rs
  compio-fs/src/open_options/windows.rs
  compio-net/src/resolve/unix.rs
  compio/Cargo.toml
  compio/examples/driver.rs
Labels: bug, driver: IOCP, driver: polling, package: fs, package: driver, refactor

#231 fix(driver,iour): wrong impl of WriteVectoredAt
  compio-driver/src/iour/op.rs
  compio-fs/tests/file.rs
Labels: bug, driver: io-uring, package: fs, package: driver

#232 fix(driver,poll): use blocking file io
  compio-driver/src/poll/op.rs
  compio-driver/tests/file.rs
  compio-fs/src/open_options/unix.rs
  compio/examples/driver.rs
Labels: bug, driver: polling, package: driver

#233 fix(unix,iour): musl libc compatibility
  compio-driver/src/iour/op.rs
  compio-driver/src/unix/op.rs
  compio-driver/tests/file.rs
Labels: bug, driver: io-uring
