Repository compio-rs/compio, pull requests merged in 2024-06, with the labels that each got.

#263 fix(driver,poll): ENOENT on Linux
  compio-driver/src/poll/mod.rs
Labels: bug, driver: polling, package: driver

#262 fix(driver,iocp): use Vec instead of ArrayVec
  Cargo.toml
  compio-driver/Cargo.toml
  compio-driver/src/iocp/cp/global.rs
  compio-driver/src/iocp/cp/mod.rs
Labels: enhancement, driver: IOCP, refactor, performance

#267 test(net): use random port
  compio-net/src/tcp.rs
Labels: bug, package: net

#265 feat(net): add PollFd to wait for readiness
  compio-net/src/lib.rs
  compio-net/src/poll_fd/mod.rs
  compio-net/src/poll_fd/unix.rs
  compio-net/src/poll_fd/windows.rs
  compio-net/src/socket.rs
  compio-net/src/tcp.rs
  compio-net/src/unix.rs
  compio-net/tests/poll.rs
Labels: enhancement, package: net

#268 refactor(macro): remove compio::main restrictions
  compio-macros/src/main_fn.rs
Labels: enhancement, package: macros

#270 doc: Update README.md
  README.md
Labels: documentation
