Repository compio-rs/compio, pull requests merged in 2024-09, with the labels that each got.

#282 feat: QUIC
  Cargo.toml
  compio-buf/Cargo.toml
  compio-driver/src/iocp/op.rs
  compio-log/Cargo.toml
  compio-net/src/socket.rs
  compio-net/src/udp.rs
  compio-net/tests/udp.rs
  compio-quic/Cargo.toml
  compio-quic/benches/quic.rs
  compio-quic/examples/http3-client.rs
  compio-quic/examples/http3-server.rs
  compio-quic/examples/quic-client.rs
  compio-quic/examples/quic-dispatcher.rs
  compio-quic/examples/quic-server.rs
  compio-quic/src/builder.rs
  compio-quic/src/connection.rs
  compio-quic/src/endpoint.rs
  compio-quic/src/incoming.rs
  compio-quic/src/lib.rs
  compio-quic/src/recv_stream.rs
  compio-quic/src/send_stream.rs
  compio-quic/src/socket.rs
  compio-quic/tests/basic.rs
  compio-quic/tests/common/mod.rs
  compio-quic/tests/control.rs
  compio-quic/tests/echo.rs
  compio-tls/Cargo.toml
  compio/Cargo.toml
  compio/src/lib.rs
Labels: enhancement, package: quic

#292 Fix/driver-type
  compio-driver/src/driver_type.rs
  compio-driver/src/fusion/mod.rs
  compio-driver/src/fusion/op.rs
  compio-driver/src/lib.rs
  flake.lock
Labels: bug, package: driver

#271 feat: use signalfd on Linux
  compio-signal/Cargo.toml
  compio-signal/src/lib.rs
  compio-signal/src/linux.rs
  compio/Cargo.toml
Labels: enhancement, package: signal

#298 fix(fs): metadata types on armv7-linux-androideabi
  compio-fs/Cargo.toml
  compio-fs/src/metadata/unix.rs
Labels: bug, package: fs

#299 feat(tls): add ALPN support
  compio-tls/Cargo.toml
  compio-tls/src/stream/mod.rs
  compio-tls/src/stream/rtls.rs
Labels: enhancement, package: tls

#301 feat(io): add *_read_uninit for compat
  compio-io/Cargo.toml
  compio-io/src/compat.rs
Labels: enhancement, package: io

#300 feat(runtime): don't try to poll all tasks before polling driver
  compio-runtime/Cargo.toml
  compio-runtime/src/runtime/mod.rs
  compio-runtime/tests/custom_loop.rs
Labels: bug, enhancement, package: runtime

#302 feat(net): add from_std for UdpSocket
  compio-io/Cargo.toml
  compio-io/tests/compat.rs
  compio-io/tests/io.rs
  compio-net/Cargo.toml
  compio-net/src/udp.rs
Labels: enhancement, package: net
