Repository compio-rs/compio, pull requests merged in 2024-11, with the labels that each got.

#315 fix(net,iour,poll): fix accept leak
  compio-driver/src/iour/mod.rs
  compio-driver/src/iour/op.rs
  compio-driver/src/key.rs
  compio-driver/src/poll/op.rs
  compio-driver/src/unix/op.rs
  compio-net/src/socket.rs
Labels: bug, driver: io-uring, driver: polling, driver: fusion, package: net, package: driver

#317 build(deps): update rustls platform verifier
  .github/workflows/ci_test.yml
  compio-quic/Cargo.toml
  compio-quic/src/builder.rs
Labels: package: quic

#320 fix(driver,poll): ignore EINTR and retry
  compio-driver/src/lib.rs
  compio-driver/src/poll/op.rs
Labels: driver: polling, package: driver

#316 feat(driver,iocp): add WaitCompletionPacket support
  .github/workflows/ci_test.yml
  compio-driver/Cargo.toml
  compio-driver/src/iocp/cp/global.rs
  compio-driver/src/iocp/cp/multi.rs
  compio-driver/src/iocp/mod.rs
  compio-driver/src/iocp/wait/mod.rs
  compio-driver/src/iocp/wait/packet.rs
  compio-driver/src/iocp/wait/thread_pool.rs
Labels: enhancement, driver: IOCP, package: driver, performance

#314 refactor(net,iocp): move WSAStartup
  compio-driver/src/iocp/mod.rs
  compio-net/Cargo.toml
  compio-net/src/lib.rs
  compio-net/src/resolve/windows.rs
  compio/Cargo.toml
Labels: enhancement, driver: IOCP, package: net, package: driver, performance

#322 refactor(driver,poll): remove event in on_event
  compio-driver/src/fusion/op.rs
  compio-driver/src/poll/mod.rs
  compio-driver/src/poll/op.rs
Labels: driver: polling, package: driver, refactor

#324 ci: add freebsd
  .github/workflows/ci_test_freebsd.yml
  compio-quic/tests/echo.rs
Labels: enhancement

#325 fix(io,copy): clear buf after write
  compio-io/src/util/mod.rs
Labels: bug, package: io

#323 refactor(driver,poll): add op_type
  compio-driver/src/fusion/mod.rs
  compio-driver/src/fusion/op.rs
  compio-driver/src/poll/mod.rs
  compio-driver/src/poll/op.rs
Labels: driver: polling, package: driver, refactor

#310 feat: add FreeBSD AIO support
  compio-driver/src/fusion/mod.rs
  compio-driver/src/op.rs
  compio-driver/src/poll/mod.rs
  compio-driver/src/poll/op.rs
  compio-driver/src/unix/op.rs
Labels: enhancement, package: driver

#328 fix(runtime): runnable reference cycle
  compio-runtime/src/runtime/mod.rs
Labels: bug, package: runtime

#331 refactor: use cfg_aliases
  Cargo.toml
  compio-driver/Cargo.toml
  compio-driver/build.rs
  compio-driver/src/op.rs
  compio-driver/src/poll/mod.rs
  compio-driver/src/poll/op.rs
  compio-driver/src/unix/op.rs
  compio-fs/Cargo.toml
  compio-fs/build.rs
  compio-fs/src/metadata/unix.rs
  compio-quic/Cargo.toml
  compio-quic/benches/quic.rs
  compio-quic/build.rs
  compio-quic/src/socket.rs
  compio-quic/tests/echo.rs
Labels: refactor

#329 fix(runtime): self-reference without Arc
  compio-runtime/src/runtime/mod.rs
Labels: package: runtime, performance

#308 refactor(driver,runtime): allow polling driver when pushing an op
  compio-driver/Cargo.toml
  compio-driver/src/fusion/mod.rs
  compio-driver/src/iocp/mod.rs
  compio-driver/src/iour/mod.rs
  compio-driver/src/lib.rs
  compio-driver/src/poll/mod.rs
  compio-driver/tests/file.rs
  compio-runtime/Cargo.toml
  compio-runtime/src/runtime/mod.rs
  compio/examples/driver.rs
  compio/tests/runtime.rs
Labels: bug, driver: io-uring, driver: polling, package: driver, package: runtime, refactor

#334 doc(README): add banner
  README.md
Labels: documentation

#330 feat(driver): add AIO support for illumos & solaris
  Cargo.toml
  compio-driver/build.rs
  compio-driver/src/poll/mod.rs
  compio-fs/build.rs
  compio-fs/src/file.rs
Labels: enhancement, driver: polling, package: driver, performance

#336 fix: add rustls features for tls
  .github/workflows/ci_test.yml
  Cargo.toml
  compio-tls/Cargo.toml
  compio/Cargo.toml
Labels: dependencies

#341 Add support for smallvec
  compio-buf/Cargo.toml
  compio-buf/src/io_buf.rs
  compio-buf/src/io_vec_buf.rs
  compio-buf/src/iter.rs
Labels: enhancement, package: buf

#343 refactor(runtime): Rename `OpFlagsFuture` back to `OpFuture`
  compio-runtime/src/runtime/mod.rs
  compio-runtime/src/runtime/op.rs
Labels: package: runtime, refactor

#348 fix(driver): erase op type in driver
  compio-driver/src/fusion/mod.rs
  compio-driver/src/iocp/mod.rs
  compio-driver/src/iocp/wait/packet.rs
  compio-driver/src/iocp/wait/thread_pool.rs
  compio-driver/src/iour/mod.rs
  compio-driver/src/lib.rs
  compio-driver/src/poll/mod.rs
Labels: package: driver

#346 fix(poll): cancel in the fd queue
  compio-driver/src/poll/mod.rs
Labels: bug, driver: polling, package: driver

#350 fix(runtime): drop runnables manually
  compio-runtime/Cargo.toml
  compio-runtime/src/runtime/mod.rs
  compio-runtime/src/runtime/op.rs
  compio-runtime/src/runtime/time.rs
Labels: bug, package: runtime
