Repository compio-rs/compio, pull requests merged in 2024-04, with the labels that each got.

#237 feat(fs): new fs methods
  compio-driver/src/iour/op.rs
  compio-driver/src/op.rs
  compio-driver/src/poll/op.rs
  compio-driver/src/unix/op.rs
  compio-fs/src/lib.rs
  compio-fs/src/utils/mod.rs
  compio-fs/src/utils/unix.rs
  compio-fs/src/utils/windows.rs
  compio-fs/tests/utils.rs
Labels: enhancement, package: fs

#236 feat(driver): add CreateSocket
  .github/workflows/ci_test.yml
  compio-driver/Cargo.toml
  compio-driver/src/fusion/mod.rs
  compio-driver/src/iour/op.rs
  compio-driver/src/op.rs
  compio-driver/src/poll/op.rs
  compio-driver/src/unix/op.rs
  compio-net/src/socket.rs
  compio-net/src/tcp.rs
  compio-net/src/udp.rs
  compio-net/src/unix.rs
  compio-net/tests/split.rs
  compio-net/tests/unix_stream.rs
  compio/examples/unix.rs
Labels: enhancement, package: net, package: driver

#240 feat(io): compat async stream for futures
  compio-io/Cargo.toml
  compio-io/src/buffer.rs
  compio-io/src/compat.rs
  compio-io/tests/compat.rs
Labels: enhancement, package: io

#244 feat(dispatcher): Make concurrency
  .gitignore
  Cargo.toml
  compio-dispatcher/Cargo.toml
  compio-dispatcher/src/lib.rs
  compio-dispatcher/tests/listener.rs
  compio/examples/dispatcher.rs
Labels: enhancement, package: dispatcher

#245 feat(runtime): catch unwind in spawn*
  compio-fs/src/file.rs
  compio-fs/src/metadata/unix.rs
  compio-fs/src/metadata/windows.rs
  compio-fs/src/open_options/windows.rs
  compio-fs/src/utils/windows.rs
  compio-net/src/resolve/unix.rs
  compio-net/src/socket.rs
  compio-net/tests/split.rs
  compio-net/tests/tcp_accept.rs
  compio-net/tests/tcp_connect.rs
  compio-runtime/src/runtime/mod.rs
  compio-runtime/tests/event.rs
  compio/tests/runtime.rs
Labels: enhancement, package: runtime

#230 refactor(driver): add SharedFd & OwnedFd and require them in operations
  compio-driver/Cargo.toml
  compio-driver/src/fd.rs
  compio-driver/src/fusion/mod.rs
  compio-driver/src/fusion/op.rs
  compio-driver/src/iocp/cp/global.rs
  compio-driver/src/iocp/cp/mod.rs
  compio-driver/src/iocp/cp/multi.rs
  compio-driver/src/iocp/mod.rs
  compio-driver/src/iocp/op.rs
  compio-driver/src/iour/mod.rs
  compio-driver/src/iour/op.rs
  compio-driver/src/lib.rs
  compio-driver/src/op.rs
  compio-driver/src/poll/mod.rs
  compio-driver/src/poll/op.rs
  compio-driver/src/unix/op.rs
  compio-driver/tests/file.rs
  compio-fs/src/file.rs
  compio-fs/src/named_pipe.rs
  compio-fs/src/open_options/unix.rs
  compio-fs/src/open_options/windows.rs
  compio-fs/src/pipe.rs
  compio-fs/src/stdio/unix.rs
  compio-fs/src/stdio/windows.rs
  compio-net/src/socket.rs
  compio-net/src/split.rs
  compio-net/src/tcp.rs
  compio-net/src/udp.rs
  compio-net/src/unix.rs
  compio-runtime/Cargo.toml
  compio-runtime/src/attacher.rs
  compio-runtime/src/lib.rs
  compio-runtime/tests/event.rs
  compio/Cargo.toml
  compio/examples/driver.rs
  compio/tests/runtime.rs
Labels: bug, enhancement, package: net, package: fs, package: driver, refactor
