Repository compio-rs/compio, pull requests merged in 2024-10, with the labels that each got.

#306 fix(driver,poll,iour): use Arc::clone instead of try_clone
  compio-driver/Cargo.toml
  compio-driver/src/iour/mod.rs
  compio-driver/src/poll/mod.rs
  compio-net/src/cmsg/mod.rs
  compio-net/src/cmsg/unix.rs
  compio-net/src/cmsg/windows.rs
  compio-tls/tests/connect.rs
Labels: bug, driver: io-uring, driver: polling, package: driver

#307 fix(driver,poll): remove pipe usage
  compio-driver/Cargo.toml
  compio-driver/src/poll/mod.rs
  compio-runtime/Cargo.toml
Labels: enhancement, driver: polling, package: driver

#311 fix(quic): don't exit event loop on I/O error
  compio-quic/src/connection.rs
Labels: bug, package: quic
