Repository compio-rs/compio, pull requests merged in 2024-05, with the labels that each got.

#246 fix(runtime): incorrect min_timeout
  compio-runtime/src/runtime/time.rs
Labels: bug, package: runtime

#247 refactor(driver): generic SharedFd
  compio-driver/src/fd.rs
  compio-driver/src/fusion/op.rs
  compio-driver/src/iocp/mod.rs
  compio-driver/src/iocp/op.rs
  compio-driver/src/iour/op.rs
  compio-driver/src/lib.rs
  compio-driver/src/op.rs
  compio-driver/src/poll/op.rs
  compio-driver/src/unix/op.rs
  compio-fs/src/file.rs
  compio-fs/src/named_pipe.rs
  compio-fs/src/pipe.rs
  compio-fs/src/stdio/windows.rs
  compio-net/src/socket.rs
  compio-net/src/tcp.rs
  compio-net/src/udp.rs
  compio-net/src/unix.rs
  compio-runtime/src/attacher.rs
Labels: package: driver, refactor

#249 fix: feature typo
  .github/workflows/ci_check.yml
  compio-driver/src/fusion/mod.rs
  compio-fs/Cargo.toml
  compio-net/Cargo.toml
  compio/Cargo.toml
Labels: bug

#248 feat(fs): AsyncFd
  compio-driver/src/lib.rs
  compio-fs/src/async_fd.rs
  compio-fs/src/lib.rs
  compio-fs/src/named_pipe.rs
  compio-fs/src/stdio/unix.rs
Labels: bug, enhancement, package: fs

#250 feat(driver): reduce eventfd IO
  compio-runtime/Cargo.toml
  compio-runtime/src/runtime/mod.rs
  compio-runtime/src/runtime/time.rs
  compio-runtime/tests/custom_loop.rs
Labels: driver: io-uring, package: driver, refactor, performance

#253 fix(runtime): handle busy error in spawn_blocking
  compio-runtime/src/runtime/mod.rs
Labels: bug, package: runtime

#251 feat(driver): move future state into RawOp
  compio-driver/Cargo.toml
  compio-driver/src/fd.rs
  compio-driver/src/fusion/mod.rs
  compio-driver/src/iocp/cp/global.rs
  compio-driver/src/iocp/cp/mod.rs
  compio-driver/src/iocp/cp/multi.rs
  compio-driver/src/iocp/mod.rs
  compio-driver/src/iour/mod.rs
  compio-driver/src/key.rs
  compio-driver/src/lib.rs
  compio-driver/src/poll/mod.rs
  compio-driver/src/unix/mod.rs
  compio-driver/tests/file.rs
  compio-runtime/src/runtime/mod.rs
  compio-runtime/src/runtime/op.rs
  compio-runtime/src/runtime/time.rs
  compio/examples/driver.rs
Labels: package: driver, package: runtime, refactor

#254 perf(net): rewrite net bench and optimize
  compio-buf/src/io_buf.rs
  compio-buf/src/lib.rs
  compio-dispatcher/src/lib.rs
  compio-driver/src/iour/mod.rs
  compio-fs/src/async_fd.rs
  compio-fs/src/file.rs
  compio-fs/src/metadata/unix.rs
  compio-fs/src/named_pipe.rs
  compio-fs/src/open_options/unix.rs
  compio-fs/src/pipe.rs
  compio-fs/src/stdio/windows.rs
  compio-fs/src/utils/unix.rs
  compio-io/src/read/ext.rs
  compio-io/src/read/mod.rs
  compio-io/src/write/mod.rs
  compio-net/src/socket.rs
  compio-runtime/Cargo.toml
  compio-runtime/src/attacher.rs
  compio-runtime/src/lib.rs
  compio-runtime/src/runtime/mod.rs
  compio-runtime/src/runtime/op.rs
  compio-runtime/src/runtime/time.rs
  compio-runtime/src/time.rs
  compio-runtime/tests/custom_loop.rs
  compio-runtime/tests/event.rs
  compio/benches/fs.rs
  compio/benches/monoio_wrap/mod.rs
  compio/benches/net.rs
Labels: enhancement, package: runtime, performance

#256 feat(dispatcher): derive debug for dispatcher
  compio-dispatcher/src/lib.rs
Labels: enhancement, package: dispatcher

#257 feat(driver): add io-uring sqpoll support
  compio-driver/src/iour/mod.rs
  compio-driver/src/lib.rs
  compio-signal/src/lib.rs
Labels: enhancement, driver: io-uring

#258 perf: move named pipe bench and add unix socket bench
  compio/Cargo.toml
  compio/benches/named_pipe.rs
  compio/benches/net.rs
Labels: performance

#260 feat(dispatcher): dispatch blocking fn's
  compio-dispatcher/src/lib.rs
  compio-driver/src/asyncify.rs
Labels: enhancement, package: dispatcher, package: driver

#224 feat(process): compio-process
  Cargo.toml
  compio-driver/src/iocp/cp/mod.rs
  compio-driver/src/iocp/mod.rs
  compio-driver/src/iocp/op.rs
  compio-driver/src/iour/op.rs
  compio-driver/src/op.rs
  compio-driver/src/poll/mod.rs
  compio-driver/src/poll/op.rs
  compio-driver/src/unix/op.rs
  compio-fs/src/named_pipe.rs
  compio-process/Cargo.toml
  compio-process/src/lib.rs
  compio-process/src/linux.rs
  compio-process/src/unix.rs
  compio-process/src/windows.rs
  compio-process/tests/process.rs
  compio-runtime/src/attacher.rs
  compio/Cargo.toml
  compio/src/lib.rs
Labels: enhancement

#261 feat(runtime): faster SendWrapper with cached thread id
  compio-runtime/Cargo.toml
  compio-runtime/src/runtime/mod.rs
  compio-runtime/src/runtime/send_wrapper.rs
Labels: enhancement, package: runtime
